* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Color Variables
$black         : #000000;
$green         : #c9d3cf;
$lightgreen    : #d0dad7;
$lightestgreen : #d7e2de;

html, body {
    height: 800px;
    width: 900px;
    background: $lightgreen;
}

.grid {
    background: white;
    height: 100%;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

[class*='col-'] {
	float: left;
}
.col-1-4 {
    width: 225px;
    height: 225px;
    background: #333;
    overflow: hidden;
}
.module {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: rotate(45deg);
}
.square {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    &.top {
        left: -50%;
        top: -50%;
    }
    &.right {
        top: -50%;
        right: -50%;
    }
    &.bottom {
        right: -50%;
        bottom: -50%;
    }
    &.left {
        left: -50%;
        bottom: -50%;
    }
}
.first {
    .top {
        background: $green;
    }
    .right {
        background: $lightestgreen;
    }
    .bottom {
        background: $black;
    }
    .left {
        background: $green;
    }
}
.second {
    .top {
        background: $green;
    }
    .right {
        background: $black;
    }
    .bottom {
        background: $green;
    }
    .left {
        background: $lightestgreen;
    }
}
.third {
    .top {
        background: $black;
    }
    .right {
        background: $green;
    }
    .bottom {
        background: $lightestgreen;
    }
    .left {
        background: $green;
    }
}
.fourth {
    .top {
        background: $green;
    }
    .right {
        background: $lightgreen;
    }
    .bottom {
        background: $green;
    }
    .left {
        background: $lightgreen;
    }
}
.fifth {
    .top {
        background: $green;
    }
    .right {
        background: $lightgreen;
    }
    .bottom {
        background: $black;
    }
    .left {
        background: $lightestgreen;
    }
}
.sixth {
    .top {
        background: $lightgreen;
    }
    .right {
        background: $green;
    }
    .bottom {
        background: $lightgreen;
    }
    .left {
        background: $black;
    }
}
.seventh {
    .top {
        background: $green;
    }
    .right {
        background: $lightestgreen;
    }
    .bottom {
        background: $black;
    }
    .left {
        background: $lightestgreen;
    }
}
.eight {
    .top {
        background: $black;
    }
    .right {
        background: $lightestgreen;
    }
    .bottom {
        background: $lightgreen;
    }
    .left {
        background: $green;
    }
}
.ninth {
    .top {
        background: $green;
    }
    .right {
        background: $lightestgreen;
    }
    .bottom {
        background: $green;
    }
    .left {
        background: $black;
    }
}
.tenth {
    .top {
        background: $black;
    }
    .right {
        background: $lightestgreen;
    }
    .bottom {
        background: $green;
    }
    .left {
        background: $lightgreen;
    }
}
.eleventh {
    .top {
        background: $lightestgreen;
    }
    .right {
        background: $green;
    }
    .bottom {
        background: $green;
    }
    .left {
        background: $black;
    }
}
.twelfth {
    .top {
        background: $lightestgreen;
    }
    .right {
        background: $black;
    }
    .bottom {
        background: $lightestgreen;
    }
    .left {
        background: $green;
    }
}
.thirteenth {
    .top {
        background: $black;
    }
    .right {
        background: $lightestgreen;
    }
    .bottom {
        background: $lightestgreen;
    }
    .left {
        background: $green;
    }
}
.fourteenth {
    .top {
        background: $lightgreen;
    }
    .right {
        background: $green;
    }
    .bottom {
        background: $black;
    }
    .left {
        background: $green;
    }
}
.fifteenth {
    .top {
        background: $lightestgreen;
    }
    .right {
        background: $black;
    }
    .bottom {
        background: $lightgreen;
    }
    .left {
        background: $green;
    }
}
.sixteenth {
    .top {
        background: $black;
    }
    .right {
        background: $lightgreen;
    }
    .bottom {
        background: $green;
    }
    .left {
        background: $lightestgreen;
    }
}